<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="img/netflix-symbol.png">
    <!-- Link CSS -->
    <link rel="stylesheet" href="css/style.css">
    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"/>
    <!-- Axios CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <!-- VueJS CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.0/dist/vue.js"></script>
    <title>Netflix</title>
</head>
<body>
    
    <!-- VueJS Container -->
    <div id="root">

        <!-- App Start Page -->
        <div class="app-open" v-if="appHasStarted == false">
            <h1>Welcome to Netflix, click the button to start!</h1>
            <button @click="appHasStarted = true">Start Netflix</button>
        </div>
        <!-- End App Start Page -->


        <!-- Netflix Started -->
        <div class="app-started" v-show="appHasStarted">
            
            <!-- Netflix Users -->
            <div class="user-interface" v-show="userSelected == false">
                <div class="user-select">
                    <div class="logo">
                        <img src="img/netflix-logo.png" alt="netflix-logo">
                    </div>
                    <h1>Who's watching?</h1>
                    <div class="profiles-squares">
                        <div class="profile" v-for="profile,index in profiles" @click="userSelected = true, userPic(index)">
                            <img :src="`img/${profile.photo}`" :alt="`${profile.alt}`">
                            <div>{{ profile.name }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Netflix Users -->
            
            
            <!-- Netflix -->
            <div class="netflix-mainpage" v-show="userSelected == true">
                <!-- HEADER -->
                <header>
                    <!-- Netflix Logo -->
                    <div class="logo" @click="returnToHomePage()">
                        <img src="img/netflix-logo.png" alt="netflix-logo">
                    </div>
                    <!-- Netflix Main Menu -->
                    <nav class="main-menu">
                        <ul>
                            <!-- Home -->
                            <li>
                                <a href="#" @click="resetPage()">Home</a>
                            </li>
                            <!-- Trending -->
                            <li>
                                <a href="#trending">Trending</a>
                            </li>
                            <!-- Tv Series -->
                            <li>
                                <a href="#tv-series">Tv Series</a>
                            </li>
                            <!-- Movies -->
                            <li>
                                <a href="#movies">Movies</a>
                            </li>
                        </ul>
                    </nav>
                    <!-- Netflix Search -->
                    <div class="search-section">
                        <!-- Select Genre -->
                        <div class="genre-selection" v-if="searchedMovie.length > 0">
                            <label for="genres-list">Choose Genre:</label>
                            <select v-model="thisGenre" id="genres-list">
                                <option value="All">All</option>
                                <option v-for="mediaGenre in genresList" :value="mediaGenre">
                            
                                    {{ mediaGenre.name }}
                            
                                </option>
                            </select>
                        </div>
            
                        <!-- Search Movie -->
                        <div class="lense">
                            <button @click="searchMovie()" class="search-btn"><i class="fas fa-search"></i></button>
                            <input v-model="searchedMovie" @keyup.enter="searchMovie()" placeholder="search on netflix">
                        </div>
            
                        <!-- Current User -->
                        <div class="current-user">
                            <img :src="`img/${profiles[profilePicture].photo}`" :alt="`${profiles[profilePicture].alt}`">
                        </div>
                    </div>
                </header>
                <!-- END HEADER -->
            
            
                <!-- MAIN -->
                <main>
                    <!-- Movies Container -->
                    <div class="movies-container">
            
            
                        <!-- Searched Movies -->
                        <div class="searched-movies" v-if="userHasSearched">
                            <h2>Search results:</h2>
                            <div class="movies-list">
            
                                <!-- Single Movie -->
                                <div class="movie-card card" v-for="movie,index in movies" v-if="movie.genre_ids.includes(thisGenre.id) || thisGenre == 'All'">
            
                                    <div class="card-inner">
                                        <div class="card-front">
                                            <!-- Movie Thumbnail -->
                                            <div class="movie-thumbnail">
                                                <img :src=" `https://image.tmdb.org/t/p/w342/${movie.poster_path}` "
                                                    alt="movie-thumbnail">
                                            </div>
                                        </div>
            
                                        <div class="card-back" @mouseleave="setTimeout(function(){ movieIndex = -1; }, 300);">
            
                                            <!-- Other Infos -->
                                            <div class="other-infos" v-if="index == movieIndex">
                                                <h4>Genre:</h4>
                                                <ul>
                                                    <li v-for="genre in movieGenres">
                                                        {{ genre.name }}
                                                    </li>
                                                </ul>
            
                                                <h4 class="actors">Actors:</h4>
                                                <ul>
                                                    <li v-for="actor in movieCast">
                                                        {{ actor }}
                                                    </li>
                                                </ul>
            
                                                <button @click="movieIndex = -1" class="movie-inside-button">Go Back</button>
                                            </div>
            
            
                                            <!-- Movie Infos -->
                                            <div class="movie-info" v-else>
                                                <!-- Movie Name -->
                                                <div class="movie-name">
                                                    <span class="movie-caption">Title:</span> {{ movie.title || movie.name }}
                                                </div>
                                                <!-- Movie Original Name -->
                                                <div class="movie-original-name"
                                                    v-show="movie.title != movie.original_title || movie.name != movie.original_name">
                                                    <span class="movie-caption">Original Title:</span> {{ movie.original_title
                                                    ||
                                                    movie.original_name }}
                                                </div>
                                                <!-- Movie Language -->
                                                <div class="movie-lang">
                                                    <span class="movie-caption">Language:</span>
                                                    <img src="img/english-flag.png" alt="english-flag"
                                                        v-if=" movie.original_language == 'en' ">
                                                    <img src="img/italian-flag.png" alt="italian-flag"
                                                        v-else-if=" movie.original_language == 'it' ">
                                                    <img src="img/japan-flag.png" alt="japan-flag"
                                                        v-else-if=" movie.original_language == 'ja' ">
                                                    <img src="img/spain-flag.png" alt="spain-flag"
                                                        v-else-if=" movie.original_language == 'es' ">
                                                    <span v-else>unknown</span>
                                                </div>
                                                <!-- Movie Rating -->
                                                <div class="movie-rating">
                                                    <!-- Stars -->
                                                    <div>
                                                        <span class="movie-caption">Rating:</span>
                                                        <i class="fas fa-star"
                                                            v-for="star in obtainRating(movie.vote_average)"></i><i
                                                            class="far fa-star"
                                                            v-for="star in (5 - obtainRating(movie.vote_average))"></i>
                                                    </div>
                                                </div>
                                                <!-- Movie Overviw -->
                                                <div class="movie-overview">
                                                    <span class="movie-caption">Overview:</span>
                                                    <p class="overview" v-if="movie.overview.length > 120">{{
                                                        movie.overview.substring(0, 80) +
                                                        '...' }}</p>
                                                    <p class="overview" v-else>{{ movie.overview }}</p>
                                                </div>
                                                <!-- Toggle Other Infos -->
                                                <button @click="showOtherInfos(movie, index)" class="movie-inside-button more">More</button>
                                            </div>
            
                                        </div>
                                    </div>
            
                                </div>
                                <!-- End Single Movie -->
            
                            </div>
            
                        </div>
                        <!-- End Movies -->
            
                        <!-- Netflix Home Page -->
                        <div class="homepage" v-else>
                            <!-- Trending Section-->
                            <h2 id="trending">Trending</h2>
                            <div class="trending-section">
                                <!-- Single Movie -->
                                <div class="trending card" v-for="movie,index in trendingHomePage">
            
                                    <div class="card-inner">
                                        <div class="card-front">
                                            <!-- Movie Thumbnail -->
                                            <div class="movie-thumbnail">
                                                <img :src=" `https://image.tmdb.org/t/p/w342/${movie.poster_path}` ">
                                            </div>
                                        </div>
            
                                        <div class="card-back" @mouseleave="setTimeout(function(){ movieIndex = -1; }, 300);">
            
                                            <!-- Other Infos -->
                                            <div class="other-infos" v-if="index == movieIndex && movieGenres.length > 0">
                                                <!-- Movie Genres -->
                                                <h4>Genre:</h4>
                                                <ul>
                                                    <li v-for="genre in movieGenres">
                                                        {{ genre.name }}
                                                    </li>
                                                </ul>
            
                                                <!-- Movie Actors -->
                                                <h4 class="actors">Actors:</h4>
                                                <ul>
                                                    <li v-for="actor in movieCast">
                                                        {{ actor }}
                                                    </li>
                                                </ul>
            
                                                <!-- Go Back Button -->
                                                <button @click="movieIndex = -1" class="movie-inside-button">Go Back</button>
                                            </div>
            
            
                                            <!-- Movie Infos -->
                                            <div class="movie-info" v-else>
            
                                                <!-- Movie Name -->
                                                <div class="movie-name">
                                                    <span class="movie-caption">Title:</span> {{ movie.title || movie.name }}
                                                </div>
            
                                                <!-- Movie Original Name -->
                                                <div class="movie-original-name"
                                                    v-show="movie.title != movie.original_title || movie.name != movie.original_name">
                                                    <span class="movie-caption">Original Title:</span> {{ movie.original_title
                                                    ||
                                                    movie.original_name }}
                                                </div>
            
                                                <!-- Movie Language -->
                                                <div class="movie-lang">
                                                    <span class="movie-caption">Language:</span>
                                                    <img src="img/english-flag.png" alt="english-flag"
                                                        v-if=" movie.original_language == 'en' ">
                                                    <img src="img/italian-flag.png" alt="italian-flag"
                                                        v-else-if=" movie.original_language == 'it' ">
                                                    <img src="img/japan-flag.png" alt="japan-flag"
                                                        v-else-if=" movie.original_language == 'ja' ">
                                                    <img src="img/spain-flag.png" alt="spain-flag"
                                                        v-else-if=" movie.original_language == 'es' ">
                                                    <span v-else>unknown</span>
                                                </div>
            
                                                <!-- Movie Rating -->
                                                <div class="movie-rating">
                                                    <!-- Stars -->
                                                    <div>
                                                        <span class="movie-caption">Rating:</span>
                                                        <i class="fas fa-star"
                                                            v-for="star in obtainRating(movie.vote_average)"></i><i
                                                            class="far fa-star"
                                                            v-for="star in (5 - obtainRating(movie.vote_average))"></i>
                                                    </div>
                                                </div>
            
                                                <!-- Movie Overviw -->
                                                <div class="movie-overview">
                                                    <span class="movie-caption">Overview:</span>
                                                    <p class="overview" v-if="movie.overview.length > 120">{{
                                                        movie.overview.substring(0, 80) +
                                                        '...' }}
                                                    </p>
                                                    <p class="overview" v-else>{{ movie.overview }}</p>
                                                </div>
            
                                                <!-- Toggle Other Infos -->
                                                <button @click="showOtherInfos(movie, index)" class="movie-inside-button more">More</button>
                                            </div>
            
                                        </div>
                                    </div>
            
                                </div>
                                <!-- End Single Movie -->
                            </div>
                            <!-- End Trending -->
            
                            <!-- Tv Series -->
                            <h2 id="tv-series">Tv Series</h2>
                            <div class="tv-series-section">
                                <!-- Single Movie -->
                                <div class="tv-series card" v-for="movie,index in tvSeriesHomePage">
            
                                    <div class="card-inner">
                                        <div class="card-front">
                                            <!-- Movie Thumbnail -->
                                            <div class="movie-thumbnail">
                                                <img :src=" `https://image.tmdb.org/t/p/w342/${movie.poster_path}` ">
                                            </div>
                                        </div>
            
                                        <div class="card-back" @mouseleave="setTimeout(function(){ movieIndex = -1; }, 300);">
            
                                            <!-- Other Infos -->
                                            <div class="other-infos" v-if="index == movieIndex">
                                                <!-- Movie Genres -->
                                                <h4>Genre:</h4>
                                                <ul>
                                                    <li v-for="genre in movieGenres">
                                                        {{ genre.name }}
                                                    </li>
                                                </ul>
            
                                                <!-- Movie Actors -->
                                                <h4 class="actors">Actors:</h4>
                                                <ul>
                                                    <li v-for="actor in movieCast">
                                                        {{ actor }}
                                                    </li>
                                                </ul>
            
                                                <!-- Go Back Button -->
                                                <button @click="movieIndex = -1" class="movie-inside-button">Go Back</button>
                                            </div>
            
            
                                            <!-- Movie Infos -->
                                            <div class="movie-info" v-else>
            
                                                <!-- Movie Name -->
                                                <div class="movie-name">
                                                    <span class="movie-caption">Title:</span> {{ movie.title || movie.name }}
                                                </div>
            
                                                <!-- Movie Original Name -->
                                                <div class="movie-original-name"
                                                    v-show="movie.title != movie.original_title || movie.name != movie.original_name">
                                                    <span class="movie-caption">Original Title:</span> {{ movie.original_title
                                                    ||
                                                    movie.original_name }}
                                                </div>
            
                                                <!-- Movie Language -->
                                                <div class="movie-lang">
                                                    <span class="movie-caption">Language:</span>
                                                    <img src="img/english-flag.png" alt="english-flag"
                                                        v-if=" movie.original_language == 'en' ">
                                                    <img src="img/italian-flag.png" alt="italian-flag"
                                                        v-else-if=" movie.original_language == 'it' ">
                                                    <img src="img/japan-flag.png" alt="japan-flag"
                                                        v-else-if=" movie.original_language == 'ja' ">
                                                    <img src="img/spain-flag.png" alt="spain-flag"
                                                        v-else-if=" movie.original_language == 'es' ">
                                                    <span v-else>unknown</span>
                                                </div>
            
                                                <!-- Movie Rating -->
                                                <div class="movie-rating">
                                                    <!-- Stars -->
                                                    <div>
                                                        <span class="movie-caption">Rating:</span>
                                                        <i class="fas fa-star"
                                                            v-for="star in obtainRating(movie.vote_average)"></i><i
                                                            class="far fa-star"
                                                            v-for="star in (5 - obtainRating(movie.vote_average))"></i>
                                                    </div>
                                                </div>
            
                                                <!-- Movie Overviw -->
                                                <div class="movie-overview">
                                                    <span class="movie-caption">Overview:</span>
                                                    <p class="overview" v-if="movie.overview.length > 120">{{
                                                        movie.overview.substring(0, 80) +
                                                        '...' }}
                                                    </p>
                                                    <p class="overview" v-else>{{ movie.overview }}</p>
                                                </div>
            
                                                <!-- Toggle Other Infos -->
                                                <button @click="showOtherInfos(movie, index)" class="movie-inside-button more">More</button>
                                            </div>
            
                                        </div>
                                    </div>
            
                                </div>
                                <!-- End Single Movie -->
                            </div>
                            <!-- Tv Series -->
            
                            <!-- Movies Section -->
                            <h2 id="movies">Movies</h2>
                            <div class="movies-section">
                                <!-- Single Movie -->
                                <div class="movies card" v-for="movie,index in moviesHomePage">
            
                                    <div class="card-inner">
                                        <div class="card-front">
                                            <!-- Movie Thumbnail -->
                                            <div class="movie-thumbnail">
                                                <img :src=" `https://image.tmdb.org/t/p/w342/${movie.poster_path}` ">
                                            </div>
                                        </div>
            
                                        <div class="card-back" @mouseleave="setTimeout(function(){ movieIndex = -1; }, 300);">
            
                                            <!-- Other Infos -->
                                            <div class="other-infos" v-if="index == movieIndex">
                                                <!-- Movie Genres -->
                                                <h4>Genre:</h4>
                                                <ul>
                                                    <li v-for="genre in movieGenres">
                                                        {{ genre.name }}
                                                    </li>
                                                </ul>
            
                                                <!-- Movie Actors -->
                                                <h4 class="actors">Actors:</h4>
                                                <ul>
                                                    <li v-for="actor in movieCast">
                                                        {{ actor }}
                                                    </li>
                                                </ul>
            
                                                <!-- Go Back Button -->
                                                <button @click="movieIndex = -1" class="movie-inside-button">Go Back</button>
                                            </div>
            
            
                                            <!-- Movie Infos -->
                                            <div class="movie-info" v-else>
            
                                                <!-- Movie Name -->
                                                <div class="movie-name">
                                                    <span class="movie-caption">Title:</span> {{ movie.title || movie.name }}
                                                </div>
            
                                                <!-- Movie Original Name -->
                                                <div class="movie-original-name"
                                                    v-show="movie.title != movie.original_title || movie.name != movie.original_name">
                                                    <span class="movie-caption">Original Title:</span> {{ movie.original_title
                                                    ||
                                                    movie.original_name }}
                                                </div>
            
                                                <!-- Movie Language -->
                                                <div class="movie-lang">
                                                    <span class="movie-caption">Language:</span>
                                                    <img src="img/english-flag.png" alt="english-flag"
                                                        v-if=" movie.original_language == 'en' ">
                                                    <img src="img/italian-flag.png" alt="italian-flag"
                                                        v-else-if=" movie.original_language == 'it' ">
                                                    <img src="img/japan-flag.png" alt="japan-flag"
                                                        v-else-if=" movie.original_language == 'ja' ">
                                                    <img src="img/spain-flag.png" alt="spain-flag"
                                                        v-else-if=" movie.original_language == 'es' ">
                                                    <span v-else>unknown</span>
                                                </div>
            
                                                <!-- Movie Rating -->
                                                <div class="movie-rating">
                                                    <!-- Stars -->
                                                    <div>
                                                        <span class="movie-caption">Rating:</span>
                                                        <i class="fas fa-star"
                                                            v-for="star in obtainRating(movie.vote_average)"></i><i
                                                            class="far fa-star"
                                                            v-for="star in (5 - obtainRating(movie.vote_average))"></i>
                                                    </div>
                                                </div>
            
                                                <!-- Movie Overviw -->
                                                <div class="movie-overview">
                                                    <span class="movie-caption">Overview:</span>
                                                    <p class="overview" v-if="movie.overview.length > 120">{{
                                                        movie.overview.substring(0, 80) +
                                                        '...' }}
                                                    </p>
                                                    <p class="overview" v-else>{{ movie.overview }}</p>
                                                </div>
            
                                                <!-- Toggle Other Infos -->
                                                <button @click="showOtherInfos(movie, index)" class="movie-inside-button more">More</button>
                                            </div>
            
                                        </div>
                                    </div>
            
                                </div>
                                <!-- End Single Movie -->
                            </div>
                            <!-- Movies Section-->
                        </div>
                        <!-- End Netflix Home Page -->
            
                    </div>
                    <!-- End Movies Container -->
                </main>
                <!-- END MAIN -->
            </div>
            <!-- End Netflix -->
        </div>
        <!-- End Netflix Started -->

    </div>
    <!-- End VueJS Container -->

    <!-- JavaScript -->
    <script src="js/script.js"></script>
</body>
</html>